@import url('https://fonts.googleapis.com/css?family=Open+Sans:400,600,700&display-swap') ;
.square{
    position: relative;
    width: 400px;
    height: 400px;
    display:flex;
    justify-content: center;
    align-items: center;
}
.square span:nth-child(1){
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height:100%;
    border:2px solid black;
    border-radius: 38% 62% 63% 37% / 41% 44% 56% 59%;
    transition: 0.5s;
    animation: animate 6s linear infinite;
}
.square:hover span:nth-child(1){
    background: orange;
    border: none;
}

.square span:nth-child(2){
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height:100%;
    border:2px solid black;
    border-radius: 38% 62% 63% 37% / 41% 44% 56% 59%;
    transition: 0.5s;
    animation: animate2 4s linear infinite;
}
.square:hover span:nth-child(2){
    background: orange;
    border: none;
}

.square span:nth-child(3){
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height:100%;
    border:2px solid black;
    border-radius: 38% 62% 63% 37% / 41% 44% 56% 59%;
    transition: 0.5s;
    animation: animate 10s linear infinite;
}
.square:hover span:nth-child(3){
    background: orange;
    border: none;
}

@keyframes animate{
    0%{
        transform: rotate(0deg);
    }
    100%{
        transform: rotate(360deg);
    }
}

@keyframes animate2{
    0%{
        transform: rotate(360deg);
    }
    100%{
        transform: rotate(0deg);
    }
}

.content{
    position: relative;
    padding: 40px 60px;
    color: black;
    text-align: center;
    transition: 0.5s;
    z-index: 1000;
    font-size: large;
}
.content a{
    text-decoration: none;
    display: inline-block;
    position: relative;
    margin-top: 10px;
    color: black;
    border: 2px solid;
    padding: 6px 18px;
    font-weight: 600;
    border-radius: 73% 27% 44% 56%/ 49% 44% 56% 51%;
}
.content a:hover{
    background-color: rgb(233, 199, 126);
}
