<br />
<div id="container" class="container" >
    

                    <label>Title:</label>
                    <input type="text" class="form-control" placeholder="Please enter title for post" id="title" name="title" [(ngModel)] ="post.title" >
                    <br>

                    <label>Featured Image (URL):</label>
                    <input type="text" class="form-control" placeholder="Please enter a valid URL address pointing to the image file" id="featuredImage" name="featuredImage" [(ngModel)] ="post.featuredImage" >
 <br>
                    <label>Post:</label>
                    <textarea class="form-control" placeholder="Please enter caption" style="min-height:200px" id="post" name="post" [(ngModel)] ="post.post"></textarea>
                    <br>
                    <label>Category:</label>
                    <input type="text" class="form-control" placeholder="Please enter up to 3 categories" id="category" name="category" [(ngModel)] ="post.category" >
                    <br>

                    <br>
                    <br>
                <button type="Modify" (click)="onModifyPostClick()" id ="btn" >Modify Post</button>
                <button type="Delete" (click)="onDeletePostClick()" id ="dbtn" >Delete Post</button>
        
</div>
<br /> 
