nav{
    background-color: rgb(229, 134, 18);
    padding: 10px;
    text-align: left;
}

nav ul{
    list-style-type: none;
    
    
}

ul li{
    display: inline-block;
    padding:10px;
}

ul li:hover{
    background-color: rgb(246, 164, 70);
}


li a{
    color: rgb(255, 255, 255);
    text-decoration: none;
    cursor: pointer;
    font-size: x-large;

}
