#container 
{

  font-size: large;
  margin: auto;
}
  
  #container2
  {
    height: 150px;
  position: relative;
 
 
  }

  #sbtn
  {
    background-color:  rgb(229, 134, 18);
    border-radius: 10px;
    
  }


  #cbtn
  {
    border-radius: 10px;
  } 

  #btn
  {
    float: right;

  }

  
  input
  {
    width: 100%;
    /* border-style: solid; */
    border-style: groove;
  }