@import url('https://fonts.googleapis.com/css?family=Open+Sans:400,600,700&display-swap') ;
*{
    position: relative;
    margin-left: 0;
    margin-right: 0;
}


.center {
    width: 40vw;

}
.row {
    margin-top: 60px;
    margin-left: 0px;
}
.col-9{

   align-items: center;
   justify-content: center;
   display: flex;
}
body{
   --display:flex;
    --justify-content:center;
    --align-items:center;
    --min-height:100vh;
}

