mat-sidenav-container{
    height:100%;
    width: 20%;
}

mat-sidenav , mat-sidenav-content{
    padding: 16px;
    color: white;
    
}
mat-sidenav{
    background-color: rgba(31, 29, 52, 0.805);
    width: 200px;
    
}
.btn{
    background-color: darkgoldenrod;
}
mat-sidenav a{
    color: white;
    font-size: larger;
    text-decoration: none;
    text-size-adjust: initial;
}

#sidenav-items {
    margin-bottom: 10px;
}

#sidenav-Logout{
height: 50px;
position: absolute;
width: 100%;
bottom: 0;
list-style-type: none;
padding-bottom:5.5em;
}