<mat-sidenav-container>
    
    <mat-sidenav mode="side" [(opened)]='opened'>
        <a mat-list-item href="home"> Posts</a>
        <br>
        <a mat-list-item href="newpost"> Add new post</a>
        <br>
        <a mat-list-item href="newadmin"> Add new admin</a>
        <br>
        <a mat-list-item href="home"> Reports</a>
    </mat-sidenav>
  
    <mat-sidenav-content>
        <button (click)="opened=!opened" class="btn"><i class="fa fa-bars"></i></button>
    </mat-sidenav-content>
    
</mat-sidenav-container>