mat-sidenav-container{
    height:100%
}

mat-sidenav , mat-sidenav-content{
    padding: 16px;
    color: white;
}
mat-sidenav{
    background-color: rgba(31, 29, 52, 0.805);
    width: 200px;
}
.btn{
    background-color: darkgoldenrod;
}
mat-sidenav a{
    color: white;
    font-size: large;
    text-decoration: none;
}