
nav {
    background-color: rgb(229, 134, 18);
    padding: 10px;
    text-align: left;
    position: relative;
    z-index: 50;
}

nav ul li i {
    text-align: right;
}

nav ul {
    list-style-type: none;


}

ul li {
    display: inline-block;
    padding: 10px;
}

ul li:hover {
    background-color: rgb(246, 164, 70);
}


li a {
    color: rgb(255, 255, 255);
    text-decoration: none;
    cursor: pointer;
    font-size: x-large;

}

@media (min-width: 768px) {
    .navbar-nav.navbar-right {
        position: absolute;
        right: 1%;
        transform: translatex(-50%);
    }
}

.dropmenu {
    padding: 16px;
    font-size: 16px;
    border: none;

}

.dropdown {
    display: inline-block;
}

.dropdown-content {
    display: none;
    position: fixed;
    background-color: #f1f1f1;
    min-width: 120px;
    box-shadow: 0px 8px 16px 0px rgba(0, 0, 0, 0.2);
    z-index: 1;

}

.dropdown-content a {
    color: black;
    padding: 12px 16px;
    text-decoration: none;
    display: block;
    overflow: visible !important;
}

.dropdown-content a:hover {
    background-color: #ddd;
}

.dropdown:hover .dropdown-content {
    display: block;
}

.dropdown:hover .dropmenu {
    background-color: orange
}