
<div class="post-details">
  <div class="post-thumbnail"><img src= {{post.featuredImage}} alt="..." class="img-fluid"></div>
<div><span class="rating-system"> Rating: {{ rating }}</span></div>
  <div class="post-meta d-flex justify-content-between">
    <div class="date meta-last">{{post.postDate| date:'mediumDate'}}</div>
    <div class="category"><a href="#">{{post.category}}</a></div>
  </div><a [routerLink]="['/post', post._id]">
    <h3 class="h4">{{post.title}}</h3></a>
  <p class="text-muted" innerHTML = "{{post.post}}"></p>
  <div class="post-footer d-flex align-items-center"><a href="#" class="author d-flex align-items-center flex-wrap">
      <div class="title"><span>{{post.postedBy}}</span></div></a>
    <div class="comments meta-last"><i class="icon-comment"></i>{{post.views}}</div>
  </div>
</div>