<div class="container" id="posts">
    <table class="table table-striped table-bordered">
        <thead>
            <tr>
                <th>Title</th>
                <th>Description</th>
                <th>Posted By</th>
                <th>Date</th>
              
            </tr>
        </thead>
        <tbody>
            <tr *ngFor="let post of blogPosts">
                <a [routerLink]="['/dashboard/editapost', post._id]"> <td >{{post.title}}</td></a>
                <td>{{post.post}}</td>
                <td>{{post.postedBy}}</td>
                <td>{{post.postDate}}</td>
            </tr>
        </tbody>
    </table>
</div>
